NODE_IMAGE_TAG=latest
POSTGRES_IMAGE_TAG=latest
NODE_ENV=development
TZ=Etc/UTC

APP_PORT=3000

POSTGRES_USER=nodeapp
POSTGRES_PASSWORD=change-me-postgres-password
POSTGRES_DB=nodeapp
POSTGRES_DATA_TARGET=/var/lib/postgresql
