.env

/bitwarden/data

/plex/config

/nextcloud/db
/nextcloud/data

/photoprism/db
/photoprism/storage
/photoprism/photos

/wordpress/db
/wordpress/data

/immich/upload
/immich/postgres
/immich/tailscale-state

/jellyfin/jellyfin_config
/jellyfin/media
/jellyfin/tailscale-state-jellyfin

/pihole/etc-pihole
/pihole/tailscale-state-pihole

/nodejs_dev/npm-cache
/nodejs_dev/postgres-data
/nodejs_dev/workspace/node_modules

.idea
.vscode
.DStore
