TS_KEY=tskey-auth-change-me
PIHOLE_HOSTNAME=pihole

PIHOLE_IMAGE_TAG=latest
TAILSCALE_IMAGE_TAG=latest

TZ=Etc/UTC
PIHOLE_WEBPASSWORD=change-me-admin-password

# Cloudflare DNS resolvers.
PIHOLE_DNS_UPSTREAMS=1.1.1.1;1.0.0.1
PIHOLE_DNS_LISTENING_MODE=all

# Optional persistent path overrides.
TAILSCALE_STATE_PATH=./tailscale-state-pihole
PIHOLE_CONFIG_PATH=./etc-pihole
