TS_KEY=tskey-auth-change-me
JELLYFIN_HOSTNAME=jellyfin

JELLYFIN_IMAGE_TAG=latest
TAILSCALE_IMAGE_TAG=latest

PUID=1000
PGID=1000
TZ=Etc/UTC
NVIDIA_VISIBLE_DEVICES=all

TV_SHOWS_PATH=/path/to/tvshows
MOVIES_PATH=/path/to/movies
MUSIC_PATH=/path/to/music
